* {
    font-family: 'Lexend Deca', sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    overflow-x: hidden;
}

@keyframes pop-in-out {
    0% {
        filter: blur(0px);
        opacity: 1;
    }
    100% {
        filter: blur(20px);
        opacity: 0;
    }
}


@keyframes fade-in {
    0% {
        filter: blur(20px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        filter: blur(0px);
        opacity: 1;
    }
    100% {
        filter: blur(20px);
        opacity: 0;
    }
}